<button
  *ngIf="showCard"
  class="btn btn-success"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  aria-current="page"
  style="margin-left: 10px"
>
  Add New Team
</button>
<div *ngIf="showCard" class="team" class="d-flex flex-wrap">
  <div *ngFor="let team of teams" class="card">
    <div class="card-body">
      <h5 class="card-title">{{ team.title }}</h5>
      <p class="card-text">{{ team.description }}</p>
      <button class="button" (click)="goEmployees(team)">Go Employees</button>
    </div>
  </div>
</div>
<div *ngIf="selectedTeam && !showCard">
  <div>
    <button
      class="btn btn-primary"
      (click)="goBack()"
      style="margin-left: 10px"
    >
      Go Back
    </button>
  </div>
  <app-employees
    [team]="selectedTeam"
    (goBack)="saveEmployee()"
  ></app-employees>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="teamTitle" class="form-label">Team Title</label>
            <input
              type="text"
              class="form-control"
              id="teamTitle"
              [(ngModel)]="teamTitle"
              name="teamTitle"
            />
          </div>
          <div class="mb-3">
            <label for="teamDescription" class="form-label"
              >Team Description</label
            >
            <input
              type="text"
              class="form-control"
              id="teamDescription"
              [(ngModel)]="teamDescription"
              name="teamDescription"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="saveTeam()"
          data-bs-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
